<table class="table mt-3">
    <thead class="thead-dark">
      <tr>
         <th class="text-center">
            <button class="btn btn-primary" [disabled]="disabledButton" (click)="deleteData($event)">Delete</button>
         </th>
        <th scope="col" *ngFor="let item of tableHead">{{item.field}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of userData">
        <th>
            <form>
                <input type="checkbox" #checkId class="form-control" [checked]="deleteUser" (change)="checkUncheck(data.id, checkId.checked)">
            </form>
        </th>
        <th>{{data.name}}</th>
        <td>{{data.username}}</td>
        <td>{{data.address.city}}</td>
        <td>{{data.address.zipcode}}</td>
        <td>{{data.company.name}}</td>
        <td>{{data.phone}}</td>
        <td>{{data.address.geo.lng}}</td>
      </tr>
    </tbody>
  </table>