<div class="container">
    <form class="register-form" [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="fname">First name</label>
            <input type="text" class="form-control" [ngClass]="{'is-invalid': fname?.invalid, 'is-valid': fname?.valid}" formControlName="fname" id="fname" placeholder="First name" required>
            <div class="invalid-feedback" *ngIf="fname?.invalid">
              Please Enter Your First Name
            </div>  
          </div>
          <div class="col-md-4 mb-3">
            <label for="lname">Last name</label>
            <input type="text" class="form-control" [ngClass]="{'is-invalid': lname?.invalid, 'is-valid': lname?.valid}" formControlName="lname" id="lname" placeholder="Last name" required>
            <div class="invalid-feedback" *ngIf="lname?.invalid">
                Please Enter Your Last Name
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="email">email</label>
            <div class="input-group">
              <input type="text" class="form-control" [ngClass]="{'is-invalid': email?.invalid, 'is-valid': email?.valid}" formControlName="email" id="email" placeholder="email" aria-describedby="inputGroupPrepend3" required>
            </div>
            <div *ngIf="email?.invalid">
              <div class="invalid-feedback" *ngIf="email?.errors?.required">Please Enter Emial</div>
              <div class="invalid-feedback" *ngIf="email?.errors?.pattern">Please Enter Valid Email</div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="password">password</label>
            <input type="password" class="form-control" [ngClass]="{'is-invalid': password?.invalid, 'is-valid': password?.valid}" formControlName="password" id="password" placeholder="password" required>
            <div *ngIf="password?.invalid">
              <div class="invalid-feedback" *ngIf="password?.errors?.required">Please Enter Your Password</div>
              <div class="invalid-feedback" *ngIf="password?.errors?.pattern">Please enter at least 1 uppercase and  1 lowercase 1 special character 1 numeric password must be 8 character</div>
          </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="cpassword">confirm password</label>
            <input type="password" class="form-control" [ngClass]="{'is-invalid': confPassword?.invalid, 'is-valid': confPassword?.valid}" id="cpassword" formControlName="confPassword" placeholder="Confirm Password" required>
            <div class="invalid-feedback" *ngIf="confPassword?.invalid">
              <div class="invalid-feedback" *ngIf="confPassword?.errors?.mustMatch">Your password is Mismatch</div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="zip">Zip</label>
            <input type="text" class="form-control" [ngClass]="{'is-invalid': zip?.invalid, 'is-valid': zip?.valid}" id="zip" formControlName="zip" placeholder="Zip" required>
            <div *ngIf="zip?.invalid">
                <div *ngIf="zip?.errors?.required" class="invalid-feedback d-block">Please Enter Zip Code</div>
                <div *ngIf="zip?.errors?.pattern" class="invalid-feedback d-block">Please valid Zip Code</div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" [ngClass]="{'is-invalid': term?.invalid}" type="checkbox" formControlName="term" formControlName="term" id="terms" required>
            <label class="form-check-label" for="terms">
              Agree to terms and conditions
            </label>
            <div class="invalid-feedback" *ngIf="term?.invalid">
              You must agree before submitting.
            </div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit form</button>
      </form>
</div>